@page
@model Project.Presentation.Pages.Product.AddProductModel
@{
}


<h1>Add Product</h1>

<form asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="productAddDto.Name">Name</label>
        <input class="form-control" type="text" asp-for="productAddDto.Name" placeholder="Enter your name" />
    </div>

    <div class="form-group">
        <label asp-for="productAddDto.Description">Description</label>
        <input class="form-control" type="text" asp-for="productAddDto.Description" placeholder="Enter your Description" />
    </div>

    <label>
        <input type="radio" asp-for="productAddDto.IsActive" value="true" /> Active
    </label>
    <label>
        <input type="radio" asp-for="productAddDto.IsActive" value="false" /> Inactive
    </label>


    <button type="submit" class="btn btn-primary">Submit</button>

</form>
